.vscode/**
.vscode-test/**
.npm-cache/**
src/**
out/**
node_modules/**
icons/image.png
icons/gd-extension-icon.svg
icons/teste/**
samples/**
esbuild.js
tsconfig.json
.eslintrc.json
package-lock.json
Dockerfile
.gitignore
.dockerignore
*.vsix
